[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "lcscodes.github.io"]
	path = lcscodes.github.io
	url = https://github.com/lcscodes/lcscodes.github.io.git
	branch = master
